.button {
    background-color: white;
    padding: .35rem 1.2rem;
    border: .04rem solid #1976d2;
    border-radius: .25rem;
    color: #1976d2;
    transition: background-color 250ms;
}

    .button:hover {
        background-color: #c7f2fc;
        border: .04rem solid #0d4072;
    }


.button_small {
    padding: .2rem 1.1rem;
}

.button_large {
    padding: .6rem 1.6rem;
    font-size: 1.1rem;
}

.button_selected {
    background-color: #e8f2fc;
}


.buttonGroup .button {
    border-radius: 0rem;
}

    .buttonGroup .button:first-child {
        border-radius: 0.25rem 0rem 0rem .25rem;
    }


    .buttonGroup .button:last-child {
        border-radius: 0rem .25rem .25rem 0rem;
    }
